@import '~typeface-roboto';
@import '~typeface-roboto-mono';

/*! https://postmill.xyz/ */

:root {
  --font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  --font-size: 14px;
  --line-height: 1.5;
  --mono-font-family: Roboto Mono, monospace;
  --mono-font-size: 14px;

  --link: var(--primary);
  --submission-link: var(--text);
  --submission-link-visited: var(--fg-grey);
  --submission-link-sticky: var(--fg-green);

  --primary: #c00;
  --primary-alt: #a00;
  --primary-fg: #fff;
  --accent: var(--bg-grey);
  --accent-alt: #dedede;
  --accent-fg: #000;
  --card: var(--bg-page);
  --sidebar-card: #efe;

  --bg-red: #fdd;
  --bg-orange: #fed;
  --bg-green: #dfd;
  --bg-blue: #def;
  --bg-grey: #efefef;
  --bg-page: #fff;

  --text: #000;
  --text-muted: #505050;
  --fg-red: #f00;
  --fg-orange: #f80;
  --fg-green: #080;
  --fg-blue: #08f;
  --fg-grey: #888;
  --border: #aaa;
}
