{% use '_forms/standard_form_theme.html.twig' with form_label as parent_form_label %}

{% block checkbox_label %}
  {{- block('parent_form_label') -}}
{% endblock checkbox_label %}

{% block checkbox_row -%}
  <div>
    {{ form_errors(form) }}
    <div class="form-row form-row--single-line form-row--no-collapse">
      <span class="form-row__align" role="presentation"></span>
      {{ form_widget(form) }}
      {{ form_label(form) }}
    </div>
    {{ form_help(form) }}
  </div>
{%- endblock checkbox_row %}

{% block form_label %}
  {%- set label_attr = label_attr|merge({class: (label_attr.class ?? '')~' form-row__align text-align-right'}) -%}
  {{- block('parent_form_label') -}}
{% endblock form_label %}

{% block form_row -%}
  <div>
    {{ form_errors(form) }}
    <div class="form-row form-row--single-line">
      {{- form_label(form) -}}
      {{- form_widget(form) -}}
    </div>
    {{ form_help(form) }}
  </div>
{%- endblock form_row %}
