{% extends 'base.html.twig' %}

{% block page_classes 'message-list-page' %}

{% block head %}
  {{ include('_includes/meta_pagination.html.twig', {pager: messages}, with_context=false) }}
{% endblock %}

{% block title 'title.messages'|trans %}

{% block body %}
  <h1 class="page-heading">{{ block('title') }}</h1>

  {% if messages|length > 0 %}
    <table class="table">
      <thead>
        <tr>
          <th>{{ 'label.title'|trans }}</th>
          <th class="table__shrink">{{ 'label.sent'|trans }}</th>
          <th class="table__shrink">{{ 'label.replies'|trans }}</th>
          <th class="table__shrink">{{ 'label.from'|trans }}</th>
          <th class="table__shrink">{{ 'label.to'|trans }}</th>
        </tr>
      </thead>
      <tbody>
      {% for message in messages %}
        <tr>
          <td><strong><a href="{{ path('message', {id: message.id}) }}">{{ message.title }}</a></strong></td>
          <td class="table__shrink">
            {% with {date: message.timestamp|localizeddate('long', 'short')} %}
              <time class="relative-time" datetime="{{ message.timestamp|date('c') }}" title="{{ date }}">{{ date }}</time>
            {% endwith %}
          </td>
          <td class="table__shrink">{{ message.replies|length|localizednumber }}</td>
          <td class="table__shrink"><a href="{{ path('user', {username: message.sender.username}) }}">{{ message.sender.username }}</a></td>
          <td class="table__shrink"><a href="{{ path('user', {username: message.receiver.username}) }}">{{ message.receiver.username }}</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p class="no-entries">
      <small class="dimmed">{{ 'flash.no_messages'|trans }}</small>
    </p>
  {% endif %}

  {{ include('_includes/pagination.html.twig', {pager: messages}, with_context=false) }}
{% endblock %}

