{% macro forum_list_header() %}
  <nav class="tabs forum-list-view-selector">
    <ul class="unlistify tabs__bar">
      {% with { active: app.request.attributes.get('_route') == 'forum_list' } %}
        <li class="tabs__tab {{ active ? 'tabs__tab--active' }}">
          <a href="{{ path('forum_list') }}" class="tab tabs__link {{ active ? 'tab--active tabs__link--active' }}">
            {{- 'forum_list.list_view'|trans -}}
          </a>
        </li>
      {% endwith %}
      {% with { active: app.request.attributes.get('_route') == 'forums_by_category' } %}
        <li class="tabs__tab {{ active ? 'tabs__tab--active' }}">
          <a href="{{ path('forums_by_category') }}" class="tab tabs__link {{ active ? 'tab--active tabs__link--active' }}">
            {{- 'forum_list.category_view'|trans -}}
          </a>
        </li>
      {% endwith %}
    </ul>
  </nav>

  <h1 class="page-heading">{{ 'forum_list.page_title'|trans }}</h1>

  {% if is_granted('create_forum') %}
    <p role="navigation">
      <a href="{{ path('create_forum') }}" class="button">{{ 'forum_list.create_forum'|trans }}</a>
    </p>
  {% elseif is_granted('ROLE_USER') %}
    <div class="alert alert--notice">
      <p>{{ 'flash.you_cannot_create_forums_yet'|trans }}</p>
    </div>
  {% endif %}
{% endmacro %}
