{% extends 'base.html.twig' %}

{% block head %}
  <link rel="alternate" type="application/atom+xml" href="{{ path('forum_feed', {forum_name: forum.name}) }}" title="{{ forum.name }}">
{% endblock %}

{% block stylesheets %}
  {% if (app.user.showCustomStylesheets ?? true) and forum.theme %}
    {{ include('_includes/stylesheets.html.twig', {
      theme: forum.theme,
      night_mode: app.user.nightMode ?? false
    }, with_context=false) }}
  {% else %}
    {{ parent() }}
  {% endif %}
{% endblock %}

{% block sidebar %}
  <section class="sidebar__section sidebar__section--forum-meta forum-meta">
    <h1 class="sidebar__title forum-title"><a href="{{ path('forum', {forum_name: forum.name}) }}">{{ forum.title }}</a></h1>

    {% if is_granted('ROLE_USER') %}
      {% from 'forum/_macros.html.twig' import subscribe_button %}
      {% set subscribed = forum.subscribed(app.user) %}
      <form action="{{ path(subscribed ? 'unsubscribe' : 'subscribe', {forum_name: forum.name}) }}"
            method="POST"
            class="form subscribe-form"
            data-forum="{{ forum.name }}">
        <input type="hidden" name="token" value="{{ csrf_token('subscribe') }}">

        <div class="form__row">
          {{ subscribe_button(forum, subscribed, false) }}
        </div>
      </form>
    {% endif %}

    {% if forum.sidebar is not empty %}
      <div class="forum-sidebar-content">{{ forum.sidebar|cached_markdown({ context: 'forum_sidebar', forum: forum })|raw }}</div>
    {% endif %}
  </section>

  {% if app_external_search_enabled() %}
    {% include '_includes/search.html.twig' with {
      forum_path: path('forum', {forum_name: forum.name})
    } %}
  {% endif %}

  {% if is_granted('ROLE_USER') %}
    {% set is_hidden = app.user.hidingForum(forum) %}
    <details class="sidebar__section">
      <summary class="sidebar__title">{{ 'heading.hide_this_forum'|trans }}</summary>

      <p class="dimmed">{{ 'help.hidden_forums'|trans }}</p>

      <form action="{{ path(is_hidden ? 'unhide_forum' : 'hide_forum', {username: app.user.username, forum: forum.id}) }}" method="POST">
        <input type="hidden" name="token" value="{{ csrf_token('hide_forum') }}">

        <p>
          <button class="button button--secondary" title="">
            {{ is_hidden ? 'action.unhide'|trans : 'action.hide'|trans }}
          </button>
        </p>
      </form>
    </details>
  {% endif %}

  <section class="sidebar__section sidebar__section--forum-manage forum-manage">
    <h1 class="sidebar__title">{{ 'label.toolbox'|trans }}</h1>

    {# sorted nav items #}
    {% with { items: {} } %}
      {% set item %}
        <li><a href="{{ path('forum_bans', {forum_name: forum.name}) }}">{{ 'nav.bans'|trans }}</a></li>
      {% endset %}
      {% set items = items|merge({('nav.bans'|trans): item}) %}

      {% set item %}
        <li><a href="{{ path('moderation_log', {forum_name: forum.name}) }}">{{ 'nav.moderation_log'|trans }}</a></li>
      {% endset %}
      {% set items = items|merge({('nav.moderation_log'|trans): item}) %}

      {% if is_granted('moderator', forum) %}
        {% set item %}
          <li><a href="{{ path('edit_forum', {forum_name: forum.name}) }}">{{ 'forum.edit'|trans }}</a></li>
        {% endset %}
        {% set items = items|merge({('forum.edit'|trans): item}) %}

        {% set item %}
          <li><a href="{{ path('forum_appearance', {forum_name: forum.name}) }}">{{ 'nav.appearance'|trans }}</a></li>
        {% endset %}
        {% set items = items|merge({('nav.appearance'|trans): item}) %}

        {% if app_webhooks_enabled() %}
          {% set item %}
            <li><a href="{{ path('forum_webhooks', {forum_name: forum.name}) }}">{{ 'nav.webhooks'|trans }}</a></li>
          {% endset %}
          {% set items = items|merge({('nav.webhooks'|trans): item}) %}
        {% endif %}
      {% endif %}

      {% if is_granted('ROLE_ADMIN') %}
        {% set item %}
          <li><a href="{{ path('add_moderator', {forum_name: forum.name}) }}">{{ 'forum.add_moderator'|trans }}</a></li>
        {% endset %}
        {% set items = items|merge({('forum.add_moderator'|trans): item}) %}

        {% set item %}
          <li><a href="{{ path('delete_forum', {forum_name: forum.name}) }}">{{ 'nav.delete_forum'|trans }}</a></li>
        {% endset %}
        {% set items = items|merge({('nav.delete_forum'|trans): item}) %}
      {% endif %}

      <ul>
        {% for key in items|keys|sort %}
          {{ items[key] }}
        {% endfor %}
      </ul>
    {% endwith %}
  </section>

  {% if forum.moderators|length > 0 %}
    <section class="sidebar__section sidebar__section--forum-moderators forum-moderators">
      <h1 class="sidebar__title"><a href="{{ path('forum_moderators', {forum_name: forum.name}) }}">{{ 'forum.moderators'|trans }}</a></h1>
      <ul>
        {% for moderator in forum.moderators %}
          <li>
            <a href="{{ path('user', {username: moderator.user.username}) }}">
              {{- moderator.user.username -}}
            </a>
          </li>
        {% endfor %}
      </ul>
    </section>
  {% endif %}
{% endblock %}
