{% extends 'base.html.twig' %}
{% from 'submission/_macros.html.twig' import submission, submission_sort, submission_time %}

{% block page_classes 'multi-forum-page' %}

{% block head %}
  {{ include('_includes/meta_pagination.html.twig', {pager: submissions}, with_context=false) }}
{% endblock %}

{% block title '/f/'~forums|join(', /f/') %}

{% block body %}
  <nav class="tabs submission-sort">
    <ul class="tabs__bar">{{ submission_sort(sort_by) }}</ul>

    {% include '_includes/time_filters.html.twig' with {sort_by: sort_by, time: app.request.query.get('t')} %}
  </nav>

  {% for submission in submissions %}
    {{ submission(submission) }}
  {% endfor %}

  {{ include('_includes/pagination.html.twig', {pager: submissions}, with_context=false) }}
{% endblock %}

{% block sidebar %}
  <section class="sidebar__section">
    <h1 class="sidebar__title">{{ 'heading.multi_forum_view'|trans }}</h1>

    <ul>
      {% for forum in forums %}
        <li><a href="{{ path('forum', {forum_name: forum}) }}">{{ forum }}</a></li>
      {% endfor %}
    </ul>
  </section>
{% endblock %}
